
@{
    ViewBag.Title = "TestDateTimePicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestDateTimePicker</h2>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>

<script src="~/Scripts/IMSjquery.js"></script>

@*<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
</script>*@
}